/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #032f70;
    color: #032f70;
}

header {
    background-color: #032f70;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header h2 {
    margin: 5px 0;
    font-size: 1.2em;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 8px;
}

.gallery {
    list-style-type: none;
    padding: 0;
}

.gallery li {
    margin: 5px 0;
}

footer {
    text-align: center;
    padding: 10px;
    background: #03296a;
    color: #ffffff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
